<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Phase 1 -->
   <!-- Declare the view part to hold the default implementation --> 
   <extension
         point="org.eclipse.ui.views">
      <view
            category="uk.ac.diamond.scisoft.analysis.rcp"
            class="org.embl.cca.utils.ui.view.filenavigator.FileView"
            icon="icons/folder.gif"
            id="org.embl.cca.utils.ui.view.filenavigator.FileView"
            name="dViewer File Navigator"
            restorable="true">
      </view>
      <view
            category="uk.ac.diamond.scisoft.analysis.rcp"
            class="org.embl.cca.utils.ui.view.nexusfileviewer.NexusFileView"
            icon="icons/folder.gif"
            id="org.embl.cca.utils.ui.view.nexusfilesviewer.NexusFileView"
            name="EMBL Nexus File Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
            category="uk.ac.diamond.scisoft.analysis.rcp.preferences.root"
            class="org.embl.cca.utils.ui.view.filenavigator.preference.FileNavigatorPreferencePage"
            id="org.embl.cca.utils.ui.view.filenavigator.preference.fileNavigatorPreferencePage"
            name="dViewer File Navigator">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.embl.cca.utils.ui.view.filenavigator.FileView">
         <command
               commandId="org.embl.cca.utils.ui.view.filenavigator.openCommand"
               label="Open"
               style="push">
         </command>
         <separator
               name="org.embl.cca.utils.ui.view.fileexplorer.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.embl.cca.utils.ui.view.filenavigator.exploreros"
               icon="icons/folder.gif"
               label="Open in File Explorer"
               style="push">
         </command>
         <command
               commandId="org.dawnsci.conversion.convertWizard"
               icon="icons/convert.png"
               label="Convert..."
               style="push"
               tooltip="Convert data to other formats">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="org.embl.cca.utils.ui.view.fileexplorer.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.embl.cca.utils.ui.view.filenavigator.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh file tree">
         </command>
         <command
               commandId="org.embl.cca.utils.ui.view.filenavigator.collapseAll"
               icon="icons/CollapseAll.png"
               label="Collapse All"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.embl.cca.utils.ui.view.filenavigator.FileView">
         <separator
               name="org.embl.cca.utils.ui.view.fileexplorer.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.embl.cca.utils.ui.view.filenavigator.collapseAll"
               icon="icons/CollapseAll.png"
               label="Collapse All"
               style="push">
         </command>
         <command
               commandId="org.embl.cca.utils.ui.view.filenavigator.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh file tree">
         </command>
      </menuContribution>
<!-- We do not need this while File Navigator contributes it, else it is duplicated in project explorer!
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.embl.cca.utils.ui.view.fileexplorer.FileView">
         <command
               commandId="org.embl.cca.utils.ui.view.fileexplorer.ReUseEditor"
               icon="icons/clone_el.gif"
               label="Re-use editor"
               style="toggle"
               tooltip="Enable/disable re-use editor">
         </command>
      </menuContribution>
-->
      <menuContribution
            allPopups="false"
            locationURI="menu:org.embl.cca.utils.ui.view.filenavigator.FileView?after=additions">
         <command
               commandId="org.embl.cca.utils.ui.view.filenavigator.showFileNavigatorPreferences"
               label="Show preferences"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.diamond.sda.navigator.views.OpenHandler"
            id="org.embl.cca.utils.ui.view.filenavigator.openCommand"
            name="Open">
      </command>
      <command
            defaultHandler="uk.ac.diamond.sda.navigator.views.CollapseAllHandler"
            id="org.embl.cca.utils.ui.view.filenavigator.collapseAll"
            name="Collapse All">
      </command>
      <command
            defaultHandler="uk.ac.diamond.sda.navigator.views.RefreshHandler"
            id="org.embl.cca.utils.ui.view.filenavigator.refresh"
            name="Refresh">
      </command>
<!--
      <command
            defaultHandler="uk.ac.diamond.sda.navigator.actions.ReUseEditorHandler"
            description="Enable/disable multi-editor use"
            id="org.embl.cca.utils.ui.view.fileexplorer.ReUseEditor"
            name="Re-use Editor">
            <state class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState"/>
      </command>
-->
      <command
            defaultHandler="uk.ac.diamond.sda.navigator.views.ExplorerOSHandler"
            id="org.embl.cca.utils.ui.view.filenavigator.exploreros"
            name="Open in File Explorer">
      </command>
      <command
            defaultHandler="uk.ac.diamond.sda.navigator.views.ShowPreferencesHandler"
            id="org.embl.cca.utils.ui.view.filenavigator.showFileNavigatorPreferences"
            name="Show preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.dawb.workbench.views.imageMonitorView"
            objectClass="org.embl.cca.utils.ui.view.filenavigator.FileSystemEntryNode">
         <action
               class="org.dawb.common.ui.actions.OpenImageMonitorHandler"
               id="org.dawb.workbench.views.imageMonitorViewOpenActionIFolder"
               label="Open folder in image monitor"
               tooltip="View images in folder and monitor directory for more as they appear.">
         </action>
      </objectContribution>
   </extension>

</plugin>
