<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.embl.cca.dviewer.DViewerStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="dViewer"
            category="org.edna.workbench.editors.preferencePage"
            class="org.embl.cca.dviewer.ui.editors.preference.EditorPreferencePage"
            id="org.embl.cca.dviewer.rcp.preference.root">
      </page>
      <page
            name="PHA"
            category="org.edna.workbench.editors.preferencePage"
            class="org.embl.cca.dviewer.ui.editors.preference.PHAPreferencePage"
            id="org.embl.cca.dviewer.rcp.preference.pha">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.embl.cca.dviewer.ui.editors.preference.EditorPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.dawnsci.plotting.api.toolPage">
      <plotting_tool_page
            label="Diffraction Line Profile"
            icon="icons/plot-tool-line-profile.png"
            category="org.dawnsci.plotting.tools.category.Science"
            class="org.embl.cca.dviewer.plotting.tools.DiffractionLineProfileTool"
            id="org.embl.cca.dviewer.plotting.tools.diffractionLineProfile">
      </plotting_tool_page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            name="dViewer Image Editor"
            extensions="tif, tiff, cbf, img, ciff, mccd, edf, pgm, cor, bruker, raw, png, jpg, jpeg"
            icon="icons/dViewer-16x16-icon.png"
            class="org.embl.cca.dviewer.ui.editors.DViewerImageArrayEditorPart"
            id="org.embl.cca.dviewer.ui.editors.DViewerImageArrayEditorPart">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="dViewer"
            icon="icons/dViewer-16x16-icon.png"
            class="org.embl.cca.dviewer.rcp.perspectives.DViewerPerspective"
            id="org.embl.cca.dviewer.rcp.perspectives.DViewerPerspective">
      </perspective>
   </extension>
   <extension
         point="org.dawnsci.introRegister">
      <introPageRegister
            name="dViewer"
            icon="icons/dViewer-3Col-Splash.png"
            description="Opens the dViewer perspective"
            class="org.embl.cca.dviewer.rcp.perspectives.DViewerPerspectiveLaunch"
            id="org.embl.cca.dviewer.intro.DViewerPerspective">
      </introPageRegister>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            name="dViewer Controls"
            icon="icons/dViewer-controls-16x16-icon.png"
            category="org.dawb.workbench.ui.beta.views.category"
            class="org.embl.cca.dviewer.ui.views.DViewerControlsView"
            restorable="true"
            id="org.embl.cca.dviewer.ui.views.DViewerControlsView">
      </e4view>
      <view
            allowMultiple="false"
            category="org.dawb.workbench.ui.beta.views.category"
            class="org.embl.cca.dviewer.ui.views.DViewerImageView"
            icon="icons/dViewer-view-16x16-icon.png"
            id="org.embl.cca.dviewer.ui.views.DViewerImageView"
            name="dViewer View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.embl.cca.dviewer.actions.PHACommand"
            name="PHA Conmand"
            description="Run the PHA algorithm on the currently selected plotting system."
            id="org.embl.cca.dviewer.phaCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.dawnsci.plotting.api.plottingFilter">
      <plottingFilter
            label="PHA"
            filter="org.embl.cca.dviewer.actions.PHAFilter"
            ui="org.embl.cca.dviewer.actions.PHAConfiguration"
            id="org.embl.cca.dviewer.actions.pHAFilter">
      </plottingFilter>
   </extension>

</plugin>
