<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.dawb.common.ui.editorExtension">
      <editor_extension
            class="org.embl.cca.dviewer.ui.editors.ImageEditor">
      </editor_extension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawnsci.preferences.root"
            class="org.embl.cca.dviewer.ui.editors.preference.EditorPreferencePage"
            id="org.embl.cca.dviewer.ui.editors.preference.EditorPreferencePage"
            name="dViewer preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.embl.cca.dviewer.ui.editors.preference.EditorPreferenceInitializer">
       </initializer>
   </extension>
   <extension
         point="org.dawb.common.ui.toolPage">
      <plotting_tool_page
            class="org.embl.cca.dviewer.plotting.tools.PSFTool"
            icon="icons/psf.png"
            id="org.embl.cca.dviewer.plotting.tools.psfTool"
            label="PSF"
            tooltip="A tool for highlighting spots of images.">
      </plotting_tool_page>
   </extension>

</plugin>
